<div class="m-box">
    <div class="messageMenu">
        <h1 class="m-name">阿开akai的私信</h1>
        <div class="m-menu">
            <span class="m-no">未读<span class="m-num">(1)</span></span>
            <span class="m-all">全部</span>
        </div>
    </div>
    <div class="messageBox">
        <div class="m-avatar">
            <img src="images/yzg.png" />
        </div>
        <div class="m-container">
            <p class="m-actor grey">来自椰汁糕</p>

            <p class="m-content">Hi！！大家新年好，我是萌萌哒的椰汁糕~新的一年 ，希望大家能够继续支持我~ ( ﹁ ﹁ )~Hi！！大家新年好，我是萌萌哒的椰汁糕~新的一年 ，希望大家能够继续支持我~ ( ﹁ ﹁ )~</p>

            <p><span class="m-time grey">2016-1-29 01：42</span><a href="###" class="m-chat blue">有一条新私信，点击查看>></a></p>
        </div>
    </div>
    <div class="messageBox">
        <div class="m-avatar">
            <img src="images/yzg.png" />
        </div>
        <div class="m-container">
            <p class="m-actor grey">来自椰汁糕</p>

            <p class="m-content">Hi！！大家新年好，我是萌萌哒的椰汁糕~新的一年 ，希望大家能够继续支持我~ ( ﹁ ﹁ )~</p>

            <p><span class="m-time grey">2016-1-29 01：42</span><a href="###" class="m-chat grey">共一个对话</a></p>
        </div>
    </div>
</div>