<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0" />
    <!--页面窗口自动调整到设备宽度，并禁止用户及缩放页面-->
    <meta name="format-detection" content="telephone=no" />
    <!--忽略将页面中的数字识别为电话号码-->
    <meta name="format-detection" content="email=no" />
    <!--忽略Android平台中对邮箱地址的识别-->
    <title>社区</title>
    <link rel="stylesheet" href="css/cm-common.css">

</head>
<body>

</body>
</html>