<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0" />
    <!--页面窗口自动调整到设备宽度，并禁止用户及缩放页面-->
    <meta name="format-detection" content="telephone=no" />
    <!--忽略将页面中的数字识别为电话号码-->
    <meta name="format-detection" content="email=no" />
    <!--忽略Android平台中对邮箱地址的识别-->
    <title>社区</title>

    <link rel="stylesheet" href="css/cm-common.css">
    <link rel="stylesheet" href="css/iconfont.css">
</head>
<body>
    <div class="header">
        <i class="iconfont icon-meun i-menu"></i>
        <i class="iconfont icon-plus i-plus"></i>
    </div>
    <div class="menu">
        <div class="menu-item menu-on">关注</div>
        <div class="menu-item">动态</div>
        <div class="menu-item">订阅</div>
    </div>
    <div class="container">
        <!--此处添加主要内容,Todo:去掉背景色-->
    </div>
</body>
</html>