<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <link href="css/communityP.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <a href="###" class="logo"><img class="logo-img" src="images/logo_333.png"/></a>
    <ul class="nav">
        <li><a class="menu" href="">首页</a></li>
        <li><a class="menu" href="">品种</a></li>
        <li><a class="menu" href="">宠物</a></li>
        <li><a class="menu" href="">社区</a></li>
    </ul>
</div>
</body>
</html>