<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <link href="css/cp-common.css" rel="stylesheet">
    <link rel="stylesheet" href="css/iconfont.css">
</head>
<body>
<div class="header">
    <div class="menu-box">
        <a href="###" class="logo"><img class="logo-img" src="images/logo_333.png"/></a>
        <ul class="nav">
            <li><a class="menu" href="">首页</a></li>
            <li><a class="menu" href="">品种</a></li>
            <li><a class="menu" href="">宠物</a></li>
            <li><a class="menu" href="">社区</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="cl">
    </div>
    <div class="cr">
        <div class="personInfoBox">
            <div class="headImgbox">
                <div class="headImg"></div>
                <div class="userbox">
                    <div class="name">阿开的主页</div>
                    <div class="selectBox"></div>
                    <i class="iconfont icon-back icon-th"></i>
                </div>
            </div>
            <ul class="featureBox">
                <li><a class="pb-a" href="#index"><i class=" iconfont icon-myhome icon-style"></i>首页<span>1</span></a></li>
                <li><a class="pb-a" href="#follow"><i class=" iconfont icon-gz icon-style"></i>关注<span>1</span></a></li>
                <li><a class="pb-a" href="#sub"><i class=" iconfont icon-dy icon-style"></i>订阅<span>121</span></a></li>
                <li><a class="pb-a"><i class="iconfont icon-fs icon-style" ></i>粉丝<span>1</span></a></li>
                <li><a class="pb-a"><i class="iconfont icon-pl icon-style"></i>评论<span></span></a></li>
                <li><a class="pb-a" href="#letter"><i class="iconfont icon-sx icon-style"></i>私信<span></span></a></li>
            </ul>
        </div>
    </div>
</div>
<script data-main="js/community/c-main" src="js/libs/require.js"></script>
</body>
</html>