<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <link href="css/communityP.css" rel="stylesheet">
    <link rel="stylesheet" href="css/iconfont.css">
    <script src="js/libs/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="header">
    <a href="###" class="logo"><img class="logo-img" src="images/logo_333.png"/></a>
    <ul class="nav">
        <li><a class="menu" href="">首页</a></li>
        <li><a class="menu" href="">品种</a></li>
        <li><a class="menu" href="">宠物</a></li>
        <li><a class="menu" href="">社区</a></li>
    </ul>
</div>
<div class="container">
    <div class="cl">
        <div class="row">
            <div class="hs-box">
                <a href="###"><img class="hs-img" src="images/hs-img.png"></a>
            </div>
            <div class="c-box">
                <i class="iconfont icon-l-jian l-j"></i>
                <div class="write-box">
                    <textarea class="wt"></textarea>
                    <div class="i-ib"><i class="iconfont icon-my-zhaoxiangji"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hs-box">
                <a href="###"><img class="hs-img" src="images/hs-img.png"></a>
            </div>
            <div class="c-box">
                <i class="iconfont icon-l-jian l-j"></i>
                <div class="a-box">
                    <a href="###" class="a-ib">
                        <img src="images/a-img.jpg" class="a-img"/>
                        <span class="img-num">3</span>
                    </a>
                    <p>大荼小岩猫咪paro</p>
                    <p><br/></p>
                    <p>春夏秋冬又一春~</p>
                    <p><br/></p>
                    <p>祝大家除夕快乐！新年快乐！明年也要开开心心~感谢大家的陪伴~</p>
                    <p><br/></p>
                    <p>这也是勇漫的第一个春节啊，期待你越来越好。</p>
                    <p><br/></p>
                    <p>春的原图感谢授权 @熙AKIRA 地址</p>
                    <p><br/></p>
                </div>
                <div class="a-f">
                    <div class="a-tags">
                        <i class="iconfont icon-tags a-ts"></i>
                        <span class="tags"><a href="###" class="tags-a">勇者大冒险</a></span>
                        <span class="tags"><a href="###" class="tags-a">神荼</a></span>
                        <span class="tags"><a href="###" class="tags-a">安岩</a></span>
                    </div>
                    <div class="a-opt">
                        <span class="opts"><a href="###" class="tags-a"><i class="iconfont icon-love love"></i></a></span>
                        <span class="opts"><a href="###" class="tags-a">评论(11)</a></span>
                        <span class="opts"><a href="###" class="tags-a">热度(76)</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cr"></div>
</div>
</body>
</html>