<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <link href="css/cp-common.css" rel="stylesheet">
    <link rel="stylesheet" href="css/iconfont.css">
    <script src="js/libs/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="header">
    <div class="menu-box">
        <a href="###" class="logo"><img class="logo-img" src="images/logo_333.png"/></a>
        <ul class="nav">
            <li><a class="menu" href="">首页</a></li>
            <li><a class="menu" href="">品种</a></li>
            <li><a class="menu" href="">宠物</a></li>
            <li><a class="menu" href="">社区</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="cl" >
        <div class="row">
            <div class="hs-box">
                <a href="###"><img class="hs-img" src="images/hs-img.png"></a>
            </div>
            <div class="c-box">
                <i class="iconfont icon-l-jian l-j"></i>

                <div class="write-box">
                    <textarea class="wt"></textarea>

                    <div class="i-ib"><i class="iconfont icon-my-zhaoxiangji"></i></div>
                </div>
            </div>
        </div>

        <div class="row r-a">
            <div class="hs-box">
                <a href="###"><img class="hs-img" src="images/hs-img.png"></a>
            </div>
            <div class="c-box">
                <i class="iconfont icon-l-jian l-j"></i>

                <div class="a-box">
                    <a href="###" class="a-ib">
                        <img src="images/a-img.jpg" class="a-img"/>
                        <span class="img-num">3</span>
                    </a>

                    <p>大荼小岩猫咪paro</p>

                    <p><br/></p>

                    <p>春夏秋冬又一春~</p>

                    <p><br/></p>

                    <p>祝大家除夕快乐！新年快乐！明年也要开开心心~感谢大家的陪伴~</p>

                    <p><br/></p>

                    <p>这也是勇漫的第一个春节啊，期待你越来越好。</p>

                    <p><br/></p>

                    <p>春的原图感谢授权 @熙AKIRA 地址</p>

                    <p><br/></p>
                </div>
                <div class="a-f">
                    <div class="a-tags">
                        <i class="iconfont icon-tags a-ts"></i>
                        <span class="tags"><a href="###" class="tags-a">勇者大冒险</a></span>
                        <span class="tags"><a href="###" class="tags-a">神荼</a></span>
                        <span class="tags"><a href="###" class="tags-a">安岩</a></span>
                    </div>
                    <div class="a-opt others">
                        <span class="opts"><a href="###" class="tags-a"><i
                                class="iconfont icon-love love"></i></a></span>
                        <span class="opts"><a href="###" class="tags-a">评论(11)</a></span>
                        <span class="opts"><a href="###" class="tags-a">热度(76)</a></span>
                    </div>
                    <div class="a-opt mine" style="display: none">
                        <span class="opts"><a href="###" class="tags-a">评论</a></span>
                        <span class="opts"><a href="###" class="tags-a">删除</a></span>
                        <span class="opts"><a href="###" class="tags-a">编辑</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cl" style="display: none">
        <div class="p-bg">
            <ul class="p-list">
                <li class="p-li"><a href="###"><img src="images/lanmao.jpg" class="p-img"><span class="p-tags">蓝猫</span></a>
                </li>
                <li class="p-li"><a href="###"><img src="images/yitong.jpg" class="p-img"><span class="p-tags">异瞳</span></a>
                </li>
                <li class="p-li"><a href="###"><img src="images/meizi.jpg" class="p-img"><span class="p-tags">妹子</span></a>
                </li>
                <li class="p-li"><a href="###"><img src="images/cangshu.jpg" class="p-img"><span
                        class="p-tags">仓鼠</span></a></li>
                <li class="p-li"><a href="###"><img src="images/youji.jpg" class="p-img"><span class="p-tags">游记</span></a>
                </li>
                <li class="p-li"><a href="###"><img src="images/sheying.jpg" class="p-img"><span
                        class="p-tags">摄影</span></a></li>
                <li class="p-li"><a href="###"><img src="images/rixi.jpg" class="p-img"><span
                        class="p-tags">日系</span></a></li>
            </ul>
        </div>
    </div>
    <div class="cl" style="display: none">
        <div class="m-box">
            <div class="messageMenu">
                <h1 class="m-name">阿开akai的私信</h1>
                <div class="m-menu">
                    <span class="m-no">未读<span class="m-num">(1)</span></span>
                    <span class="m-all">全部</span>
                </div>
            </div>
            <div class="messageBox">
                <div class="m-avatar">
                    <img src="images/yzg.png" />
                </div>
                <div class="m-container">
                    <p class="m-actor grey">来自椰汁糕</p>

                    <p class="m-content">Hi！！大家新年好，我是萌萌哒的椰汁糕~新的一年 ，希望大家能够继续支持我~ ( ﹁ ﹁ )~Hi！！大家新年好，我是萌萌哒的椰汁糕~新的一年 ，希望大家能够继续支持我~ ( ﹁ ﹁ )~</p>

                    <p><span class="m-time grey">2016-1-29 01：42</span><a href="###" class="m-chat blue">有一条新私信，点击查看>></a></p>
                </div>
            </div>
            <div class="messageBox">
                <div class="m-avatar">
                    <img src="images/yzg.png" />
                </div>
                <div class="m-container">
                    <p class="m-actor grey">来自椰汁糕</p>

                    <p class="m-content">Hi！！大家新年好，我是萌萌哒的椰汁糕~新的一年 ，希望大家能够继续支持我~ ( ﹁ ﹁ )~</p>

                    <p><span class="m-time grey">2016-1-29 01：42</span><a href="###" class="m-chat grey">共一个对话</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="cr">
        <div class="personInfoBox">
            <div class="headImgbox">
                <div class="headImg"></div>
                <div class="userbox">
                    <div class="name">阿开的主页</div>
                    <div class="selectBox"></div>
                </div>
            </div>
            <ul class="featureBox">
                <li><i></i>关注<span>1</span></li>
                <li><i></i>订阅<span>121</span></li>
                <li><i></i>粉丝<span>1</span></li>
                <li><i></i>评论<span></span></li>
                <li><i></i>私信<span></span></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>