.a-box{
    width: 100%;
    font-size: 0.8rem;
}
.a-ib{
    float: left;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
}
.a-img{
    max-width: 100%;
    max-height: 100%;
}
.a-f{
    margin-top: 1rem;
    overflow: hidden;
}
.a-tags{
    float: left;
    width: 50%;
    overflow: hidden;
    font-size: 0.6rem;
    color: #aaa;
}

.tags{
    margin-right: 0.5rem;
}
.tags-a{
    color: #aaa;
}
.tags-a:hover{
    color: #7594b3;
}
.a-opt{
    width: 50%;
    overflow: hidden;
    font-size: 0.6rem;
    color: #aaa;
}
.opts{
    margin-left: 0.5rem;
    float: right;
}
.love{
    font-size: 0.8rem;
}