@import "reset";
@import "headerP";
@import "community-write";
@import "c-article";
html {
    font-size: 20px;
}

input,textarea{
    outline: none;//去除chrome获得焦点之后的蓝框
}

body {
    background: #e7e7e7 url(../images/commnunity-bg.png);
    color: #333;
    font-family: "微软雅黑", "Arial";
}

.container{
    width: 60rem;
    margin: 3rem auto;
    overflow: hidden;
}
.cl{
    width: 45rem;
    padding-right: 1rem;
    box-sizing:border-box;
    float: left;
    .row{
        margin-bottom: 1rem;
    }
}
.cr{
    width: 15rem;
    float: right;
    box-sizing:border-box;
    height: 15rem;
    background: #fff;
}