@import "reset";

html{
  font-size: 20px;
}
body{
  background:#e7e7e7 url(../images/commnunity-bg.png);
  color: #333;
  font-family: "Î¢ÈíÑÅºÚ", "Arial";
}
.header{
  width: 100%;
  height: 4rem;
  background-color:#fff;
  box-shadow: 0 0.05rem 0.25rem 0.05rem #807e7e;
}