article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
  width: 0;
}
mark {
  background: #ff0;
  color: #333;
}
figure {
  margin: 1em 40px 1em 40px;
}
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
input,
button {
  overflow: visible;
  font-family: inherit;
}
textarea {
  overflow: auto;
  color: inherit;
  font: inherit;
  resize: none;
}
input::-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}
table th,
table td {
  padding: 0;
}
li {
  list-style-type: none;
}
iframe,
img {
  border: 0;
}
iframe {
  vertical-align: top;
}
img {
  vertical-align: middle;
}
a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
label {
  display: inline-block;
}
.personInfoBox {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  box-shadow: 0 0 0.05rem 0.05rem #BDBDBD;
  background: #fff;
}
.personInfoBox .headImgbox {
  box-shadow: 0 0.06rem 0.05rem 0.05rem #BDBDBD;
}
.personInfoBox .headImgbox .headImg {
  height: 13rem;
  background: url(../../static/images/head.png) no-repeat center;
  background-size: contain;
}
.personInfoBox .headImgbox .userbox {
  height: 2rem;
  background: #f3f3f3;
  border-top: 0.05rem solid #D1D1D1;
  font-size: 0.8rem;
  line-height: 2rem;
}
.personInfoBox .headImgbox .userbox .name {
  margin-left: 1rem;
  border-right: 0.05rem solid #dfdfdf ;
  width: 75%;
  float: left;
}
.personInfoBox .headImgbox .userbox .selectBox {
  border-left: 0.05rem solid #fff;
  width: 0.05rem;
  height: 2rem;
  float: left;
}
.personInfoBox .headImgbox .userbox .icon-th {
  font-size: 1rem;
  color: #999;
  margin-left: 0.3rem;
}
.personInfoBox .featureBox {
  margin-top: 0.15rem ;
  font-size: 0.7rem;
  line-height: 2rem;
  text-indent: 1rem;
  background: #f3f3f3 ;
}
.personInfoBox .featureBox li {
  border-top: 0.05rem solid #fff;
  border-bottom: 0.05rem solid #dfdfdf ;
}
.personInfoBox .featureBox li:first-child {
  border-top: none ;
}
.personInfoBox .featureBox span {
  float: right;
  margin-right: 0.8rem ;
  color: #a7a7a7;
}
.personInfoBox .featureBox .icon-style {
  font-size: 0.8rem;
  color: #c8c8c8;
  margin-right: 0.4rem;
}
.pb-a {
  color: #333;
}
.pb-a:hover {
  color: #7594b3;
}
@media screen and (max-width: 1366px) {
  .personInfoBox .featureBox li {
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #fff;
  }
}
.header {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  box-shadow: 0 0.05rem 0.05rem 0.05rem #ADADAD;
  overflow: hidden;
}
.menu-box {
  width: 60rem;
  margin: 0 auto;
  height: 100%;
}
.logo {
  display: inline-block;
  height: 100%;
  width: 6rem;
  line-height: 3.5rem;
}
.logo-img {
  height: 1.5rem;
  width: 4.5rem;
}
.nav {
  display: inline-block;
  float: right;
  line-height: 4rem;
  overflow: hidden;
}
.nav li {
  float: left;
  margin-left: 1rem;
}
.nav .menu {
  color: #333;
}
.nav .menu:hover {
  color: #7594b3;
}
.hs-box {
  position: relative;
  display: table-cell;
  width: 7rem;
}
.hs-img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  box-shadow: 0 0.06rem 0.05rem 0.05rem#ADADAD;
}
.c-box {
  position: relative;
  display: table-cell;
  width: 38rem;
  background-color: #fff;
  box-shadow: 0 0.06rem 0.05rem 0.05rem#ADADAD;
  padding: 1rem 1rem;
}
.c-box .l-j {
  position: absolute;
  font-size: 1.3rem;
  color: #fff;
  left: -1.2rem;
  top: -0.15rem;
  text-shadow: -0.1rem 0.05rem 0.05rem #ADADAD;
  width: 1.3rem;
  height: 1.3rem;
  overflow: hidden;
}
.c-box .write-box {
  width: 100%;
  height: 5rem;
  border: 0.1rem solid #dfdfdf;
  font-size: 0.8rem;
}
.c-box .wt {
  width: 32rem;
  height: 100%;
  border: none;
  padding: 0.2rem;
  box-sizing: border-box;
}
.c-box .i-ib {
  width: 5rem;
  height: 100%;
  float: right;
  background-color: #fafafa;
  border-left: 0.1rem solid #dfdfdf;
  color: #b3b3b3;
  font-size: 2.5rem;
  text-align: center;
  line-height: 5rem;
  cursor: pointer;
}
.c-box .w-footer {
  width: 100%;
  height: 1.5rem;
  border: 0.1rem solid #dfdfdf;
  border-top: none;
  font-size: 0.6rem;
}
.c-box .wi {
  width: 15rem;
  height: 100%;
  border: none;
  padding: 0.2rem;
  box-sizing: border-box;
}
.c-box .w-btn {
  margin: -0.1rem -0.1rem 0 0;
  width: 5rem;
  height: 100%;
  float: right;
  background-color: #b8cde9;
  border: 0.1rem solid #abc0dc;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
}
.c-box .i-pub {
  margin-right: 0.5rem;
}
.c-box .i-tags {
  color: #aaa;
  margin-left: 0.3rem;
}
.c-box .w-tag {
  color: #aaa;
  margin: 0 0.1rem;
  cursor: pointer;
}
.c-box .w-tag:hover {
  text-decoration: line-through;
}
@media screen and (max-width: 1366px) and (min-width: 1025px) {
  .c-box {
    box-shadow: 0 0.08rem 0.1rem 0.02rem#ADADAD;
  }
  .c-box .w-btn {
    margin: -1px -1px 0 0;
  }
}
.a-box {
  width: 100%;
  font-size: 0.8rem;
}
.a-ib {
  position: relative;
  float: left;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  margin-right: 1rem;
}
.a-ib .a-img {
  max-width: 100%;
  max-height: 100%;
}
.a-ib .img-num {
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  top: auto;
  bottom: 0.5rem;
  left: auto;
  right: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
}
.a-f {
  margin-top: 1rem;
  overflow: hidden;
}
.a-tags {
  float: left;
  width: 50%;
  overflow: hidden;
  font-size: 0.6rem;
  color: #aaa;
}
.tags {
  margin-right: 0.5rem;
}
.tags-a {
  color: #aaa;
}
.tags-a:hover {
  color: #7594b3;
}
.a-opt {
  width: 50%;
  overflow: hidden;
  font-size: 0.6rem;
  color: #aaa;
  float: right;
}
.opts {
  margin-left: 0.5rem;
  float: right;
}
.love {
  font-size: 0.8rem;
}
.r-a .l-j {
  top: -0.04rem;
}
.p-bg {
  background-color: #fff;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
  box-shadow: 0 0 0.05rem 0.05rem #BDBDBD;
  padding: 1.55rem;
  box-sizing: border-box;
}
.p-list {
  overflow: hidden;
}
.p-list .p-li {
  position: relative;
  width: 8.25rem;
  height: 8.25rem;
  background-color: #fff;
  float: left;
  margin: 0.25rem;
  overflow: hidden;
}
.p-list .p-li .p-img {
  width: 100%;
}
.p-list .p-li .p-tags {
  max-width: 3rem;
  overflow: hidden;
  font-size: 0.6rem;
  color: #fff;
  padding: 0.2rem;
  position: absolute;
  z-index: 6;
  top: auto;
  left: 0.5rem ;
  right: auto;
  bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.m-box {
  background-color: #fff;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
  box-shadow: 0 0 0.05rem 0.05rem #BDBDBD;
  box-sizing: border-box;
}
.m-box .messageMenu {
  padding: 1.55rem 1.55rem 0.7rem 1.55rem;
  border-bottom: 0.05rem solid #e7e7e7;
}
.m-box .messageMenu .m-name {
  font-weight: normal;
  font-size: 1.8rem;
}
.m-box .messageMenu .m-menu {
  overflow: hidden;
  font-size: 0.9rem;
}
.m-box .messageMenu .m-menu .m-all {
  float: right;
  margin-right: 1.5rem;
}
.m-box .messageMenu .m-menu .m-no {
  float: right;
}
.m-box .messageBox {
  padding: 1.55rem 1.55rem 1rem 1.55rem;
  border-bottom: 0.05rem solid #e7e7e7;
  overflow: hidden;
}
.m-box .messageBox .m-avatar {
  width: 5rem;
  height: 5rem;
  float: left;
}
.m-box .messageBox .m-container {
  margin-left: 5.5rem;
  font-size: 0.8rem;
}
.m-box .messageBox .m-container .m-content {
  margin-top: 0.5rem;
}
.m-box .messageBox .m-container .m-time {
  margin-top: 0.5rem;
  float: left;
}
.m-box .messageBox .m-container .m-chat {
  margin-top: 0.5rem;
  float: right;
}
.blue {
  color: #5a8dcd;
}
.grey {
  color: #adadad;
}
html {
  font-size: 20px;
}
input,
textarea {
  outline: none;
}
body {
  background: #e7e7e7 url(../images/commnunity-bg.png);
  color: #333;
  font-family: "微软雅黑", "Arial";
}
.container {
  width: 60rem;
  margin: 3rem auto;
  overflow: hidden;
}
.cl {
  width: 48rem;
  padding-right: 1rem;
  box-sizing: border-box;
  float: left;
}
.cl .row {
  margin-bottom: 1rem;
}
.cr {
  width: 12rem;
  float: right;
}
.f-hidden {
  display: none;
}
.f-show {
  display: inline-block;
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
