article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
  width: 0;
}
mark {
  background: #ff0;
  color: #333;
}
figure {
  margin: 1em 40px 1em 40px;
}
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
input,
button {
  overflow: visible;
  font-family: inherit;
}
textarea {
  overflow: auto;
  color: inherit;
  font: inherit;
  resize: none;
}
input::-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}
table th,
table td {
  padding: 0;
}
li {
  list-style-type: none;
}
iframe,
img {
  border: 0;
}
iframe {
  vertical-align: top;
}
img {
  vertical-align: middle;
}
a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
label {
  display: inline-block;
}
