<div class="p-bg">
    <ul class="p-list">
        <li class="p-li"><a href="###"><img src="images/lanmao.jpg" class="p-img"><span class="p-tags">蓝猫</span></a>
        </li>
        <li class="p-li"><a href="###"><img src="images/yitong.jpg" class="p-img"><span class="p-tags">异瞳</span></a>
        </li>
        <li class="p-li"><a href="###"><img src="images/meizi.jpg" class="p-img"><span class="p-tags">妹子</span></a>
        </li>
        <li class="p-li"><a href="###"><img src="images/cangshu.jpg" class="p-img"><span
                class="p-tags">仓鼠</span></a></li>
        <li class="p-li"><a href="###"><img src="images/youji.jpg" class="p-img"><span class="p-tags">游记</span></a>
        </li>
        <li class="p-li"><a href="###"><img src="images/sheying.jpg" class="p-img"><span
                class="p-tags">摄影</span></a></li>
        <li class="p-li"><a href="###"><img src="images/rixi.jpg" class="p-img"><span
                class="p-tags">日系</span></a></li>
    </ul>
</div>