<div class="c-wt">
    <div class="row">
        <div class="hs-box">
            <a href="###"><img class="hs-img" src="images/hs-img.png"></a>
        </div>
        <div class="c-box">
            <i class="iconfont icon-l-jian l-j"></i>

            <div class="write-box">
                <textarea class="wt"></textarea>

                <div class="i-ib"><i class="iconfont icon-my-zhaoxiangji"></i></div>
            </div>
            <div class="w-footer f-hidden">
                <i class="iconfont icon-tags i-tags"></i>
                <input class="wi" type="text" placeholder="添加相关标签,用 ',' 或回车分隔">
                <div class="w-btn"><i class="iconfont icon-pub i-pub"></i>发布</div>
            </div>
        </div>
    </div>
</div>
<!--输入-->
<div class="c-at"></div>
<!--显示-->